<section id="benefits" class="section-white">
    <div class="container">
        <h2>Benefits</h2>
        <div id="no-stigma" class="col-md-3">
            <div class="round">
                <img src="img/isegoria10.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>No stigma</h3>
            <p>You will be talking with a person that experienced a similar problem you are struggling with.</p>
        </div>
        <div id="p2p" class="col-md-3">
            <div class="round">
                <img src="img/isegoria08.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Person-to-Person</h3>
            <p>We have adapted the peer-to-peer concept used in computer science to meet people's needs.</p>
        </div>
        <div id="anonymous" class="col-md-3">
            <div class="round">
                <img src="img/isegoria07.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Anonymous</h3>
            <p>The network will assign you a "private key" to process payments and identify you.</p>
        </div>
        <div id="private" class="col-md-3">
            <div class="round">
                <img src="img/isegoria09.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Private</h3>
            <p>Two level data encryption and anonymity creates a safe space where privacy is respected.</p>
        </div>

        <div id="high-quality" class="col-md-3">
            <div class="round">
                <img src="img/isegoria11.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>High Quality</h3>
            <p> Four actors to help you with your problem. You, a peer, a chatbot and a professional.</p>
        </div>
        <div id="affordable" class="col-md-3">
            <div class="round">
                <img src="img/isegoria12.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Affordable</h3>
            <p> People have empathy. The knowledge would be
                filled in by AI and counseling trainings. </p>
        </div>
        <div id="day-n-night" class="col-md-3">
            <div class="round">
                <img src="img/isegoria13.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>24/7</h3>
            <p> A global counseling network would make sure there will be always someone to help.
            </p>
        </div>
        <div id="impactful" class="col-md-3">
            <div class="round">
                <img src="img/isegoria14.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Impactful</h3>
            <p>Your problem will help us build an Artificial General Intelligence. You'll have a stake in it.</p>
        </div>
    </div>
</section>