<section id="benefits" class="section-white">
    <div class="container">
        <h2>Benefits</h2>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria07.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Anonymous</h3>
            <p>Sign up and we will assign you a long bitcoin like "private key". That's the only thing the network knows about you.</p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria08.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Person-to-Person</h3>
            <p>We have adapted the peer-to-peer concept used in computer science for people's needs.</p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria09.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Private</h3>
            <p>Two level data encryption and anonymity creates a safe space where privacy is respected.</p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria10.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>No stigma</h3>
            <p>You will be talking with a person that has experience in dealing with a similar problem you are struggling with.</p>
        </div>

        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria11.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>High Quality</h3>
            <p>There will be four actors to help you with your problem. You, a peer, a chatbot and a professional.</p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria12.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Affordable</h3>
            <p> We are building a network where people will help each other assisted by an artificial narrow intelligence. </p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria13.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Day and night </h3>
            <p>We will make sure there will be always someone on the network to help you with your struggles.</p>
        </div>
        <div class="col-md-3">
            <div class="round">
                <img src="img/isegoria14.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
            <h3>Impactful</h3>
            <p>Your problem will help us build "the greatest invention of humanity" or Artificial General Intelligence!</p>
        </div>
    </div>
</section>