<section id="blog" class="section-secondary">
    <div class="container">
        <h2 class="text-center">Press</h2>
        <div class="row">
            <div class="col-md-4">
                <img class="blogimg img-responsive" src=""  alt="blog image">
                <h3> YCombinator Online School Alumni funded by Innovation Norway </h3>
                <input type="checkbox" class="read-more-state" id="post-1" />
                <p class="read-more-wrap">June’s highlights. The good: We got funded by Innovation Norway.
                    <span class="read-more-target">
                        graduated from Y Combinator Online Startup School and got accepted into Oslo International Startup Program 2017. The bad: We didn’t get into Katapult Accelerator Startup Progam. </span></p>
                <label for="post-1" class="btn btn-primary">Read more </label>
            </div>
            <div class="col-md-4">
                <img class="blogimg img-responsive" src="" alt="blog image">
                <h3>Lorem ipsum dolor sit amet, </h3>
                <input type="checkbox" class="read-more-state" id="post-2" />
                <p class="read-more-wrap">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    <span class="read-more-target">
exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim  </span></p>
                <label for="post-2" class="btn btn-primary">Read more </label>
            </div>

            <div class="col-md-4">
                <img class="blogimg img-responsive" src="" alt="blog image">
                <h3>Lorem ipsum dolor sit amet, </h3>
                <input type="checkbox" class="read-more-state" id="post-3" />
                <p class="read-more-wrap">consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    <span class="read-more-target">
exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim  </span></p>
                <label for="post-3" class="btn btn-primary">Read more </label>
            </div>
        </div>
    </div>
</section>