<section id="bot" class="section-white">
    <div class="container">
        <h2> For now, tell Any your problem!</h2>
        <div class="col-md-6 col-md-offset-3 chat-column">
            <div id="scrollingChat">
                <div class="segments load">
                    <div class="from-watson latest top">
                        <div class="message-inner">
                                <div id="scrollingChat"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="inputgroup">
                <label for="textInput" class="inputOutline">
                    <input id="textInput" class="input responsive-column" placeholder="Type something"
                           onkeydown="ConversationPanel.inputKeyDown(event, this)" style="width:100%">
                </label>
                <input type="submit" onclick="ConversationPanel.inputKeyDown(event, this)" value="enter" name="enter" id="enter" class="button btn btn-primary">
            </div>
        </div>
        <div style="display: none" id="payload-column" class="fixed-column content-column">
            <div id="payload-initial-message">
                Type something to see the output
            </div>
            <div id="payload-request" class="payload"></div>
            <div id="payload-response" class="payload"></div>
        </div>
    </div>
</section>

<!--
<div id="chatbox">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="contentParent" class="responsive-columns-wrapper">
                        <div id="chat-column-holder" class="responsive-column content-column">
                            <div class="chat-column">
                                <div id="scrollingChat"></div>
                                <label for="textInput" class="inputOutline">
                                    <input id="textInput" class="input responsive-column"
                                           placeholder="Type something" type="text"
                                           onkeydown="ConversationPanel.inputKeyDown(event, this)">
                                </label>
                            </div>
                        </div>
                        <div style="display: none" id="payload-column" class="fixed-column content-column">
                            <div id="payload-initial-message">
                                Type something to see the output
                            </div>
                            <div id="payload-request" class="payload"></div>
                            <div id="payload-response" class="payload"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->

