<div id="features" class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h2>We will listen to you. </h2>
            <h3 class="col-md-8 col-md-offset-2">Private. Discrete. Intelligent.</h3>
            <div class="blocks">
                <div class="row">
                    <div class="col-md-6 block private">
                        <div class="block-icon">
                            <svg width="85px" height="76px" viewBox="0 0 85 76" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop" transform="translate(-680.000000, -1134.000000)" fill="#4A4A4A">
                                        <g id="Features" transform="translate(132.000000, 932.000000)">
                                            <g id="Private" transform="translate(421.000000, 202.000000)">
                                                <g id="Privat" transform="translate(127.000000, 0.000000)">
                                                    <g id="Private">
                                                        <g id="Group">
                                                            <path
                                                                    d="M84.7786458,37.6302083 L85,37.8515625 L83.671875,39.1796875 C79.0234375,43.828125 73.2682292,49.8046875 66.40625,54.453125 C58.4375,59.765625 50.46875,62.421875 42.5,62.421875 C24.1276042,62.421875 13.7239583,51.5755208 1.54947917,39.1796875 L0,37.6302083 L0.221354167,37.4088542 C8.85416667,28.5546875 15.0520833,23.2421875 21.0286458,19.4791667 C28.1119792,15.0520833 34.9739583,12.8385417 42.5,12.8385417 C60.8723958,12.8385417 74.8177083,26.1197917 84.7786458,37.6302083 Z M42.5,16.3802083 C28.7760417,16.3802083 17.9296875,24.3489583 4.86979167,37.6302083 C10.1822917,42.9427083 15.4947917,48.6979167 21.6927083,52.6822917 C28.3333333,57.109375 34.9739583,58.8802083 42.5,58.8802083 C59.1015625,58.8802083 71.9401042,46.484375 80.3515625,37.8515625 C74.5963542,31.4322917 69.2838542,26.7838542 63.9713542,23.2421875 C56.8880208,18.59375 49.8046875,16.3802083 42.5,16.3802083 Z M42.5,55.3385417 C32.7604167,55.3385417 24.7916667,47.3697917 24.7916667,37.6302083 C24.7916667,27.890625 32.7604167,19.921875 42.5,19.921875 C52.2395833,19.921875 60.2083333,27.890625 60.2083333,37.6302083 C60.2083333,47.3697917 52.2395833,55.3385417 42.5,55.3385417 Z M42.5,23.4635417 C34.7526042,23.4635417 28.3333333,29.8828125 28.3333333,37.6302083 C28.3333333,45.3776042 34.7526042,51.796875 42.5,51.796875 C50.2473958,51.796875 56.6666667,45.3776042 56.6666667,37.6302083 C56.6666667,29.8828125 50.2473958,23.4635417 42.5,23.4635417 Z M49.5833333,37.6302083 L53.125,37.6302083 L53.125,37.6302083 C53.125,43.3854167 48.2552083,48.2552083 42.5,48.2552083 C36.7447917,48.2552083 31.875,43.6067708 31.875,37.6302083 C31.875,31.6536458 36.7447917,27.0052083 42.5,27.0052083 L42.5,30.546875 C38.9583333,30.546875 35.4166667,33.4244792 35.4166667,37.4088542 C35.4166667,41.3932292 38.7369792,44.7135417 42.5,44.7135417 C46.2630208,44.7135417 49.5833333,41.6145833 49.5833333,37.6302083 L49.5833333,37.6302083 Z"
                                                                    id="Combined-Shape"></path>
                                                            <rect id="Rectangle-7"
                                                                  transform="translate(42.834451, 37.644895) rotate(30.000000) translate(-42.834451, -37.644895) "
                                                                  x="41.1568189" y="-4.85510455" width="3.35526316"
                                                                  height="85"></rect>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="block-title">
                            Private
                            <div class="underline"></div>
                        </div>
                        <div class="block-text">
                            You owe your data. We don't sell it and never will.
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="block-icon">
                            <svg width="76px" height="76px" viewBox="0 0 76 76" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop" transform="translate(-263.000000, -2242.000000)" fill="#4A4A4A">
                                        <g id="Features" transform="translate(131.000000, 1640.000000)">
                                            <g id="Anonymous" transform="translate(0.000000, 602.000000)">
                                                <g id="Anonymous-Icon" transform="translate(132.000000, 0.000000)">
                                                    <path
                                                            d="M63.4125,63.65 C66.5,64.8375 76,68.4 76,76 L38,76 L0,76 C0,68.4 9.5,64.8375 12.5875,63.65 C15.675,62.4625 19.95,62.225 22.8,61.5125 C24.4625,61.0375 26.8375,60.325 27.55,59.375 C28.2625,58.425 27.7875,49.6375 27.7875,49.6375 C27.7875,49.6375 26.3625,47.2625 25.65,45.3625 C24.9375,43.4625 23.9875,37.7625 23.9875,37.7625 C23.9875,37.7625 22.325,37.7625 21.85,34.9125 C21.375,31.825 20.425,30.875 20.425,28.5 C20.425,26.3625 21.6125,26.125 21.6125,26.125 L21.6125,26.125 C21.6125,26.125 20.6625,23.0375 20.425,16.15 C20.1875,8.075 26.3625,0 38,0 C49.6375,0 55.8125,8.075 55.575,16.15 C55.3375,23.0375 54.3875,26.125 54.3875,26.125 L54.3875,26.125 C54.3875,26.125 55.575,26.3625 55.575,28.5 C55.575,30.875 54.8625,32.0625 54.15,35.15 C53.675,38 52.0125,38 52.0125,38 C52.0125,38 51.0625,43.4625 50.35,45.3625 C49.6375,47.2625 48.2125,49.6375 48.2125,49.6375 C48.2125,49.6375 47.7375,58.425 48.45,59.375 C49.1625,60.325 51.5375,61.0375 53.2,61.5125 C56.05,62.225 60.325,62.4625 63.4125,63.65 Z M38,72.2 L38,72.2 L70.5375,72.2 C70.0625,71.4875 69.5875,70.775 68.6375,70.3 C66.975,69.1125 64.8375,68.1625 62.225,67.2125 C60.5625,66.7375 58.1875,66.2625 56.05,66.025 C54.625,65.7875 53.675,65.55 52.4875,65.3125 C51.775,65.075 47.5,64.125 45.6,61.75 C44.65,60.5625 44.175,58.9 44.175,54.15 C44.175,51.775 44.4125,49.4 44.4125,49.4 L44.4125,48.45 L44.8875,47.5 C45.125,47.025 46.3125,45.3625 46.7875,43.9375 C47.2625,42.75 47.975,39.425 48.2125,37.2875 C48.2125,37.2875 48.2125,37.525 48.45,36.3375 C48.6875,35.15 50.35,35.3875 50.5875,34.4375 C50.825,33.4875 51.3,32.775 51.775,30.1625 C52.25,27.55 50.5875,27.3125 50.5875,26.125 C50.5875,25.175 50.825,24.9375 50.825,24.9375 L50.825,24.9375 C50.825,24.7 51.775,21.6125 51.775,15.9125 C51.775,12.825 50.5875,9.7375 48.45,7.6 C45.8375,4.9875 42.5125,3.8 38,3.8 C33.725,3.8 29.925,4.9875 27.3125,7.6 C25.175,9.7375 24.225,12.825 24.225,15.9125 C24.4625,21.6125 25.175,24.7 25.175,24.9375 L25.175,24.9375 C25.175,24.9375 25.4125,25.65 25.175,26.3625 C24.9375,27.55 23.75,27.55 24.225,30.1625 C24.7,32.775 25.175,33.4875 25.4125,34.4375 C25.65,35.3875 27.3125,35.15 27.55,36.3375 C27.7875,37.525 27.7875,37.2875 27.7875,37.2875 C28.025,39.425 28.7375,42.75 29.2125,43.9375 C29.6875,45.3625 30.6375,47.025 31.1125,47.5 L31.5875,48.45 L31.5875,49.4 C31.5875,49.4 31.825,51.775 31.825,54.15 C31.825,58.9 31.35,60.5625 30.4,61.75 C28.5,64.125 24.225,65.075 23.5125,65.3125 C22.325,65.55 21.1375,65.7875 19.7125,66.025 C17.575,66.2625 15.4375,66.7375 13.775,67.2125 C11.1625,68.1625 9.025,69.1125 7.3625,70.3 C6.4125,70.775 5.9375,71.4875 5.4625,72.2 L38,72.2 Z"
                                                            id="Shape"></path>
                                                    <text id="?" font-family="Roboto-Black, Roboto" font-size="22"
                                                          font-weight="700" letter-spacing="1.22222233">
                                                        <tspan x="32.2868381" y="32">?</tspan>
                                                    </text>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="block-title">
                            Anonymous
                            <div class="underline"></div>

                        </div>
                        <div class="block-text">
                            We don't know who are you. Unless you want to tell us.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 block secure">
                        <div class="block-icon">
                            <svg width="60px" height="77px" viewBox="0 0 60 77" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <defs></defs>
                                <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop" transform="translate(-274.000000, -1845.000000)" fill="#4A4A4A">
                                        <g id="Features" transform="translate(131.000000, 1640.000000)">
                                            <g id="Secure" transform="translate(3.000000, 205.000000)">
                                                <g id="Secure-Icon" transform="translate(140.000000, 0.000000)">
                                                    <path
                                                            d="M49,32.6538462 L59.2307692,32.6538462 L59.2307692,76.5 L0.769230769,76.5 L0.769230769,32.6538462 L11,32.6538462 L11,19.5 C11,9.08653846 19.5865385,0.5 30,0.5 C40.4134615,0.5 49,9.08653846 49,19.5 L49,32.6538462 Z M13.9230769,19.5 L13.9230769,32.6538462 L46.0769231,32.6538462 L46.0769231,19.5 C46.0769231,10.5480769 38.9519231,3.42307692 30,3.42307692 C21.0480769,3.42307692 13.9230769,10.5480769 13.9230769,19.5 Z M56.3076923,73.5769231 L56.3076923,35.5769231 L3.69230769,35.5769231 L3.69230769,73.5769231 L56.3076923,73.5769231 Z M30,44.3461538 C33.2884615,44.3461538 35.8461538,46.9038462 35.8461538,50.1923077 C35.8461538,52.9326923 34.0192308,55.125 31.4615385,55.8557692 L31.4615385,61.8846154 L28.5384615,61.8846154 L28.5384615,55.8557692 C25.9807692,55.125 24.1538462,52.9326923 24.1538462,50.1923077 C24.1538462,46.9038462 26.7115385,44.3461538 30,44.3461538 Z M30,53.1153846 C31.6442308,53.1153846 32.9230769,51.8365385 32.9230769,50.1923077 C32.9230769,48.5480769 31.6442308,47.2692308 30,47.2692308 C28.3557692,47.2692308 27.0769231,48.5480769 27.0769231,50.1923077 C27.0769231,51.8365385 28.3557692,53.1153846 30,53.1153846 Z"
                                                            id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="block-title">
                            Secure
                            <div class="underline"></div>

                        </div>
                        <div class="block-text">
                            We are using end to end encryption. It means no one will intercept our discussions.
                        </div>
                    </div>
                    <div class="col-md-6 block">
                        <div class="block-icon">
                            <svg width="76px" height="76px" viewBox="0 0 76 76" version="1.1"
                                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Desktop" transform="translate(-683.000000, -2242.000000)" fill="#4A4A4A">
                                        <g id="Features" transform="translate(131.000000, 1640.000000)">
                                            <g id="24/7" transform="translate(420.000000, 602.000000)">
                                                <g id="24/7-Icon" transform="translate(132.000000, 0.000000)">
                                                    <path
                                                            d="M38,0 C59.0096154,0 76,16.9903846 76,38 C76,59.0096154 59.0096154,76 38,76 C16.9903846,76 0,59.0096154 0,38 C0,16.9903846 16.9903846,0 38,0 Z M38,72.8942308 C57.1826923,72.8942308 72.8942308,57.1826923 72.8942308,38 C72.8942308,18.8173077 57.1826923,3.10576923 38,3.10576923 C18.8173077,3.10576923 3.10576923,18.8173077 3.10576923,38 C3.10576923,57.1826923 18.8173077,72.8942308 38,72.8942308 Z M38,38 L38,14.6153846 L41.1057692,14.6153846 L41.1057692,41.1057692 L20.4615385,41.1057692 L20.4615385,38 L38,38 Z"
                                                            id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="block-title">
                            24/7
                            <div class="underline"></div>
                        </div>
                        <div class="block-text">
                            We are here for you, no matter day or night.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>