<section class="feature section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ml-auto align-self-center">
                <div class="feature-content">
                    <!-- Feature Title -->
                    <h2 class="title">How it works</h2>
                    <!-- Feature Description -->

                    <ul class="list-inline featurelist">
                        <li class="list-inline-item">
                            <img class="featureimg" src="img/isegoria03.svg" alt=""> Alice connects to practitioner's Facebook page.
                        </li>
                        <li class="list-inline-item">
                            <img class="featureimg" src="img/isegoria04.svg" alt=""> It will automatize routine tasks within counseling.
                        </li>
                        <li class="list-inline-item">
                            <img class="featureimg" src="img/isegoria05.svg" alt=""> The practitioner will focus on the counseling process.

                        </li>
                        <li class="list-inline-item">
                            <img class="featureimg" src="img/isegoria06.svg" alt=""> People and technology will make problems go away.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 mr-auto justify-content-center">
                <!-- Feature mockup -->
                <div class="image-content">
                    <img class="img-fluid" src="img/features.png" alt="ipad">
                </div>
            </div>
        </div>
    </div>
</section>