<footer>
    <ul class="footer-nav">
        <li><a href="#chatbox">Try it</a></li>
        |
        <li><a href="#features">Features</a></li>
        |
        <li><a href="#contact">Contact</a></li>
        |
        <li><a href="https://blog.narrafy.co">Blog</a></li>
    </ul>
    <ul class="social">
        <li>
            <a class="social-icon" href="https://twitter.com/dronic911">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
                        <g id="Desktop" transform="translate(-447.000000, -3547.000000)" fill="#FFFFFF">
                            <g id="Footer" transform="translate(0.000000, 3460.000000)">
                                <g id="Social-icons" transform="translate(447.000000, 87.000000)">
                                    <g id="twitter-white">
                                        <g id="Twitter_White">
                                            <g id="Page-1">
                                                <g id="Social_icons">
                                                    <g id="White">
                                                        <g id="Twitter">
                                                            <path
                                                                    d="M0,15 C0,6.71572835 6.71572835,0 15,0 C23.2842717,0 30,6.71572835 30,15 C30,23.2842717 23.2842717,30 15,30 C6.71572835,30 0,23.2842717 0,15 Z M14.5507517,12.1921879 L14.5822282,12.7112217 L14.0576187,12.6476665 C12.1480401,12.4040384 10.4797819,11.5778213 9.0633363,10.1902002 L8.37085175,9.50168595 L8.19248455,10.0101272 C7.8147657,11.1435277 8.05608605,12.3404832 8.8430003,13.1455153 C9.2626879,13.5904015 9.1682582,13.6539566 8.4442971,13.3891435 C8.19248455,13.3044032 7.97214855,13.2408481 7.95116415,13.2726257 C7.87771885,13.3467733 8.1295314,14.3106933 8.328883,14.6920243 C8.60167995,15.2216507 9.157766,15.7406845 9.76631305,16.0478678 L10.2804303,16.291496 L9.6718833,16.3020885 C9.0843207,16.3020885 9.0633363,16.312681 9.12628945,16.5351241 C9.33613325,17.2236384 10.1650163,17.9545227 11.0883289,18.2722986 L11.7388448,18.4947416 L11.1722665,18.8337025 C10.3328913,19.3209588 9.34662545,19.5963645 8.3603596,19.6175495 C7.88821105,19.6281421 7.5,19.6705122 7.5,19.7022898 C7.5,19.808215 8.78004715,20.4013966 9.52499265,20.6344322 C11.7598291,21.3229465 14.4143532,21.0263557 16.4078693,19.8505851 C17.8243149,19.0137755 19.2407606,17.3507487 19.9017685,15.7406845 C20.258503,14.8826898 20.6152374,13.3149958 20.6152374,12.5629263 C20.6152374,12.0756701 20.646714,12.0121149 21.2342767,11.4295259 C21.5805189,11.090565 21.9057768,10.7198266 21.96873,10.6139013 C22.0736519,10.4126433 22.0631596,10.4126433 21.528058,10.5927162 C20.6362218,10.9104921 20.5103156,10.8681219 20.9509875,10.3914582 C21.2762454,10.0524973 21.6644564,9.4381308 21.6644564,9.2580578 C21.6644564,9.22628025 21.5070736,9.27924285 21.3287064,9.3745756 C21.1398469,9.4805009 20.7201593,9.6393888 20.4053937,9.73472155 L19.8388154,9.9147945 L19.324698,9.5652411 C19.041409,9.3745756 18.6427057,9.16272505 18.4328619,9.0991699 C17.8977603,8.9508745 17.0793694,8.97205955 16.5967287,9.14154 C15.285205,9.61820375 14.4563219,10.8469369 14.5507517,12.1921879 Z"
                                                                    id="Combined-Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a class="social-icon-hovered" href="https://twitter.com/dronic911">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="twitter-color">
                            <g id="Twitter_Color">
                                <g id="Page-1">
                                    <g id="Social_icons">
                                        <g id="Color">
                                            <g id="Twitter">
                                                <path
                                                        d="M0,15 C0,6.71572835 6.71572835,0 15,0 C23.2842717,0 30,6.71572835 30,15 C30,23.2842717 23.2842717,30 15,30 C6.71572835,30 0,23.2842717 0,15 Z"
                                                        id="back" fill="#55ACEE"></path>
                                                <path
                                                        d="M14.5507517,12.1921879 L14.5822282,12.7112217 L14.0576187,12.6476666 C12.1480401,12.4040384 10.4797819,11.5778213 9.0633363,10.1902002 L8.37085175,9.50168595 L8.19248455,10.0101273 C7.8147657,11.1435277 8.05608605,12.3404833 8.8430003,13.1455154 C9.2626879,13.5904015 9.1682582,13.6539567 8.4442971,13.3891435 C8.19248455,13.3044033 7.97214855,13.2408481 7.95116415,13.2726257 C7.87771885,13.3467733 8.1295314,14.3106934 8.328883,14.6920244 C8.60167995,15.2216507 9.157766,15.7406846 9.76631305,16.0478678 L10.2804303,16.291496 L9.6718833,16.3020885 C9.0843207,16.3020885 9.0633363,16.312681 9.12628945,16.5351241 C9.33613325,17.2236384 10.1650163,17.9545228 11.0883289,18.2722986 L11.7388448,18.4947417 L11.1722665,18.8337026 C10.3328913,19.3209588 9.34662545,19.5963645 8.3603596,19.6175495 C7.88821105,19.6281421 7.5,19.6705122 7.5,19.7022898 C7.5,19.8082151 8.78004715,20.4013966 9.52499265,20.6344322 C11.7598291,21.3229465 14.4143532,21.0263557 16.4078693,19.8505852 C17.8243149,19.0137755 19.2407606,17.3507487 19.9017685,15.7406846 C20.258503,14.8826899 20.6152374,13.3149958 20.6152374,12.5629263 C20.6152374,12.0756701 20.646714,12.012115 21.2342767,11.4295259 C21.5805189,11.0905651 21.9057768,10.7198266 21.96873,10.6139013 C22.0736519,10.4126433 22.0631596,10.4126433 21.528058,10.5927163 C20.6362218,10.9104921 20.5103156,10.868122 20.9509875,10.3914582 C21.2762454,10.0524973 21.6644564,9.4381308 21.6644564,9.2580578 C21.6644564,9.22628025 21.5070736,9.27924285 21.3287064,9.3745756 C21.1398469,9.4805009 20.7201593,9.6393888 20.4053937,9.73472155 L19.8388154,9.9147945 L19.324698,9.5652411 C19.041409,9.3745756 18.6427057,9.16272505 18.4328619,9.0991699 C17.8977603,8.9508745 17.0793694,8.97205955 16.5967287,9.14154 C15.285205,9.61820375 14.4563219,10.8469369 14.5507517,12.1921879 Z"
                                                        id="Shape" fill="#FFFFFF"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
        <li>
            <a class="social-icon" href="https://www.facebook.com/dronic911/">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Landing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.5">
                        <g id="Desktop" transform="translate(-497.000000, -3547.000000)" fill="#FFFFFF">
                            <g id="Footer" transform="translate(0.000000, 3460.000000)">
                                <g id="Social-icons" transform="translate(447.000000, 87.000000)">
                                    <g id="facebook-white" transform="translate(50.000000, 0.000000)">
                                        <g id="Facebook_White">
                                            <g id="Page-1">
                                                <g id="Social_icons">
                                                    <g id="White">
                                                        <g id="Facebook">
                                                            <path
                                                                    d="M0,14.7540984 C0,6.60563444 6.71572835,0 15,0 C23.2842717,0 30,6.60563444 30,14.7540984 C30,22.9025623 23.2842717,29.5081967 15,29.5081967 C6.71572835,29.5081967 0,22.9025623 0,14.7540984 Z M16.063472,22.9373832 L16.063472,14.9103748 L18.3162074,14.9103748 L18.6147435,12.1442232 L16.063472,12.1442232 L16.0672993,10.7597377 C16.0672993,10.0382828 16.1369897,9.65171075 17.1904776,9.65171075 L18.5987961,9.65171075 L18.5987961,6.8852459 L16.3457417,6.8852459 C13.639461,6.8852459 12.6869203,8.22712702 12.6869203,10.4837491 L12.6869203,12.1445365 L11,12.1445365 L11,14.910688 L12.6869203,14.910688 L12.6869203,22.9373832 L16.063472,22.9373832 Z"
                                                                    id="Combined-Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <a class="social-icon-hovered" href="https://www.facebook.com/dronic911/">
                <svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="facebook-color">
                            <g id="Facebook_Color">
                                <g id="Page-1">
                                    <g id="Social_icons">
                                        <g id="Color">
                                            <g id="Facebook">
                                                <path
                                                        d="M0,15 C0,6.71572835 6.71572835,0 15,0 C23.2842717,0 30,6.71572835 30,15 C30,23.2842717 23.2842717,30 15,30 C6.71572835,30 0,23.2842717 0,15 Z"
                                                        id="back" fill="#3B5998"></path>
                                                <path
                                                        d="M16.063472,23.319673 L16.063472,15.158881 L18.3162074,15.158881 L18.6147435,12.3466269 L16.063472,12.3466269 L16.0672993,10.9390666 C16.0672993,10.2055875 16.1369897,9.8125726 17.1904776,9.8125726 L18.5987961,9.8125726 L18.5987961,7 L16.3457417,7 C13.639461,7 12.6869203,8.3642458 12.6869203,10.6584782 L12.6869203,12.3469454 L11,12.3469454 L11,15.1591995 L12.6869203,15.1591995 L12.6869203,23.319673 L16.063472,23.319673 Z"
                                                        id="Shape" fill="#FFFFFF"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </li>
    </ul>
    <div class="copyright">
        <div class="company">
            &copy;<span class="year">2017</span><span class="company-name"> narrafy.co</span>
        </div>
        <div class="rights">
            All rights reserved
        </div>
        <a class="">
            <a href="/privacy-policy"> Privacy Policy </a>
            |
            <a href="https://blog.narrafy.co" target="_blank"> Blog </a>
        </div>
    </div>
</footer>