<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Copyright 2017 Narrafy</p>
            </div>
            <div class="col-md-4 text-center">
                <p> <a href="/privacy-policy">Privacy policy</a></p>
            </div>
            <% include ../partials/social-media %>
        </div>
    </div>
</footer>