<section id="footer">
    <div class="container">
        <ul class="list-inline">
            <li>
                <h4>Usefull links:</h4>
            <li>
                <a href="https://www.isegoria.com/">Home</a>
            </li>

            <li>
                <a href="https://www.isegoria.com/network">Counseling Network</a>
            </li>
            <li>
                <a href="https://www.isegoria.com/fundraiser">Fundraiser</a>
            </li>

            <li><a href="https://www.isegoria.com/static/whitepaper_en.pdf">Whitepaper</a></li>
            <li><a href="https://www.isegoria.com/static/whitepaper_ch.pdf">中文</a></li>
            <li><a href="/about" >About</a></li>
            <li><a href="/timeline">Timeline</a></li>
            <li><a href="/contact">Contact</a></li>
            <li> <a href="https://blog.isegoria.com"  target="_blank"> Blog </a> </li>

        </ul>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <p class="copyright">Copyright 2017 iSergoria </p>

                </div>
                <div class="col-xs-6">
                    <ul class="social-network social-circle">
                        <li><a href="https://blog.isegoria.com/" target="_blank" class="faMedium" title="Medium"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://www.reddit.com/r/isegoria/" target="_blank" class="faReddit" title="Reddit"><i class="fa fa-reddit"></i></a></li>
                        <li><a href="https://github.com/isegoria" target="_blank" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/isegoria_com" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/isegoriacom/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>