<footer>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <p class="copyright">Copyright 2017 iSergoria </p>

                </div>
                <div class="col-xs-3">
                    <p> Foundation </p>
                    <p> Community </p>
                    <p> Developers </p>
                </div>
                <div class="col-xs-6">
                    <ul class="social-network social-circle pull-right">
                        <li><a href="https://blog.isegoria.com" class="faMedium" title="Medium"><i class="fa fa-medium"></i></a></li>
                        <li><a href="https://www.reddit.com/r/tezos/" class="faReddit" title="Reddit"><i class="fa fa-reddit"></i></a></li>
                        <li><a href="https://github.com/isegoria" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                        <li><a href="https://twitter.com/isegoria_com" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/isegoriacom/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</footer>