<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <p class="copyright">Copyright 2017 Narrafy </p>
            </div>
            <div class="col-xs-6">
                <ul class="social-network social-circle pull-right">
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" class="faMedium" title="Medium"><i class="fa fa-medium"></i></a></li>
                    <li><a href="#" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>