<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p>Copyright 2017 Narrafy</p>
            </div>
            <div class="col-md-4 text-center">
                <p> <a href="/about-us">About us</a></p>
                <p> <a href="/privacy">Privacy policy</a></p>

            </div>
            <div class="col-md-4 pull-right">

                <ul class="social">
                    <p>Follow us on social media: </p>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-medium" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>