<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>dronic.io - the 911 of broken hearts</title>

  <!-- Bootstrap Core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/css/dronic.css" rel="stylesheet">
  <link href="/css/dronic1.css" rel="stylesheet">
  <link href="/css/dronic2.css" rel="stylesheet">

  <!-- Plugin CSS -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/simple-line-icons.css">
  <link rel="stylesheet" href="/css/device-mockups.min.css">

  <!-- Theme CSS -->
  <link href="/css/new-age.min.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

<style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
  top: 18px !important;
  left: 50% !important;
  margin-left: -100px !important;
  width: 200px !important;
  border: 2px rgba(255,255,255,.38) solid !important;
  border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
  margin-left: 0px !important;
}
</style>
