<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>We are building chatbots</h1>
        <p class="big">to help you with your counseling practice</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Try it</a>

        <img src="img/banner.svg" type="image/svg+xml" alt="banner" class="banner">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center">How it works</h2>
            <img src="img/isegoria16.svg" class="dashlinemiddle">
            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria03.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p>The network will match you with a person that experienced the same problem</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria04.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p> You start talking and our chatbot is there to suggest relevant questions</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria05.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p>The conversation ends. A professional will look over and give feedback</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria06.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p>You are not alone, you have a peer, a chatbot and a professional helping you</p>
            </div>
        </div>
    </div>
</section>