<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>We are building chatbots</h1>
        <p class="big">for coaching, counseling and therapy practice.</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Try it</a>

        <img src="img/banner.svg" type="image/svg+xml" alt="banner" class="banner">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center purple">How it works</h2>
            <img src="img/isegoria16.svg" class="dashlinemiddle">
            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria03.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> We connect the chatbot to your facebook page. </p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria04.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> It will schedule sessions and help with the onboarding process.</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria05.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> The client downloads the app. The bot starts the counseling for you. </p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria06.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big">You, a bot and an app will make sure your client is not alone anymore.</p>
            </div>
        </div>
    </div>
</section>