<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1> We are building artificial general intelligence.</h1>
        <p class="big"> with counseling, deep learning and blockchain.</p>
        <a type="button" class="btn btn-primary page-scroll" href="/static/whitepaper.pdf">Read more</a>
    </div>
    <div class="container">

        <div class="row">
            <h2>
                Meet Lucy.
            </h2>
            <p class="big">
                The artificial intellligence system
                we are building. It has 3 main modules.

            </p>
            <ul>
                <li>
                    - Perception module. To estimate the state of
                    the world: video, audio, speech etc.
                </li>
                <li>
                    - Agent module that generates actions that are going to act on the world: prediction, planning, reasoning, memory etc.
                </li>
                <li>
                    - Objective module that picks an objective and
                    estimates if the system is satisfied or not.
                </li>
            </ul>
        </div>

        <div class="row">
            <h2> Perception module </h2>

            <p class="big">
                The perception module would make use of
                deep learning to estimate
                the world around it: speech recognition,
                computer vision, machine translation,
                robotics & control.

            </p>
        </div>

        <div class="row">
            <h2>Objective Module</h2>
            <p class="big">
                The objective module will have two components: control and value submodules. The counseling process would learn people's values hidden behind their problems and make sure the system values what people value. The blockchain network would implement a control mechanism and mitigate the existential risk the system would pose to humanity.
            </p>


        </div>

        <div class="row">
            <h2> Agent Module
            </h2>

            <p class="big">

                The agent would be the module
                that would generate a sequence of
                actions to act on the world and measure
                the outcome of its actions. It would generate intelligent behaviour by internally trying things using an internal state of the world -- a world simulator. A reality deconstruction algorithm would build the World Simulat- the missing link of the module.
            </p>

        </div>




        <p class="big">



        </p>

        <p class="big">

        </p>

        <p class="big">

        </p>

    </div>
</section>