<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>Got a problem? Make it a story.</h1>
        <p class="big">Software for coaching, counseling and therapy.</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Try it</a>

        <img src="img/banner.svg" type="image/svg+xml" alt="banner" class="banner">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center purple">How it works</h2>
            <img src="img/isegoria16.svg" class="dashlinemiddle">
            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria03.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> We'll connect a chatbot to the counselor's facebook page. </p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria04.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> The bot will take care of the administrative tasks.</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria05.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> The user downloads the app. The bot begins to counsel. </p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria06.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big">A counselor, a bot and an app will help people solve their problems.</p>
            </div>
        </div>
    </div>
</section>
