<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>We are solving Artificial General Intelligence</h1>
        <p class="big">With a network, a token and an unique counseling process.</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Read more</a>
    </div>
    <div class="container">

    </div>
</section>