<section class="section slider bg-pr">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block">
                    <!-- Heading -->
                    <h1>Got a problem? Make it history</h1>
                    <!-- Sub-heading -->
                    <h3>Software for counseling and therapy</h3>
                    <div class="download">
                        <a href="#subscribe" class="btn btn-default">
                            Join the waiting list
                        </a>
                    </div>
                    <!-- Image -->
                    <div class="image-content">
                        <img class="img-fluid" src="img/iphone-lied.png" alt="iphone-white">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>