<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>Got a problem? Make it history.</h1>
        <p class="big">Software for counseling and therapy.</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Narrafy it</a>

        <img src="img/banner.svg" type="image/svg+xml" alt="banner" class="banner">
    </div>
    <div class="container">
        <div class="row">
            <h2 class="text-center purple">How it works</h2>
            <img src="img/isegoria16.svg" class="dashlinemiddle">
            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria03.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> Our chatbot connects to practitioner's Facebook page. </p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria05.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big">It will automatize routine tasks within counseling.</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria04.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> The practitioner will focus on the counseling process.</p>
            </div>

            <div class="col-md-4ths">
                <div class="round hollow">
                    <img src="img/isegoria06.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="big"> People and technology will make problems go away.</p>
            </div>
        </div>
    </div>
</section>
