<section class="section slider bg-pr">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block">
                    <!-- Heading -->
                    <h1>Turning problems into history</h1>
                    <!-- Sub-heading -->
                    <h3>with chatbots for counseling.</h3>
                    <div class="download">
                        <a href="#chatbot" class="btn btn-default">
                            Try it
                        </a>
                    </div>
                    <!-- Image -->
                    <div class="image-content">
                        <img class="img-fluid" src="img/iphone-lied.png" alt="iphone-white">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
