<!-- Intro Section -->
<section id="intro" class="section-intro">
    <div class="bannertext">
        <h1>A person-to-person counselling network</h1>
        <p class="big">People listen each other. We suggest questions worth answering.</p>
        <a type="button" class="btn btn-primary page-scroll" href="#bot">Try it</a>

        <img src="img/banner.svg" type="image/svg+xml" alt="banner" class="banner"></div>
    <div class="container">
        <div class="row">
            <h2 class="white text-center">How it works</h2>
            <img src="img/isegoria16.svg" class="dashlinemiddle">
            <div class="col-md-5ths">
                <div class="round hollow">
                    <img src="img/isegoria02.svg" type="image/svg+xml" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="white">You tell the network what problem keeps you awake at night.</p>
            </div>

            <div class="col-md-5ths">
                <div class="round hollow">
                    <img src="img/isegoria03.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="white">We will match you with a person that experienced a similar problem.</p>
            </div>

            <div class="col-md-5ths">
                <div class="round hollow">
                    <img src="img/isegoria04.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="white"> You start talking. Our chatbot will suggest questions worth answering.</p>
            </div>

            <div class="col-md-5ths">
                <div class="round hollow">
                    <img src="img/isegoria05.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="white">The conversation ends. A professional will look over and give feedback.</p>
            </div>

            <div class="col-md-5ths">
                <div class="round hollow">
                    <img src="img/isegoria06.svg" type="image/svg+xml" alt="icon" class="circleicon"></div>
                <p class="white">You are not alone anymore. A peer, a chatbot and a professional will help you.</p>
            </div>
        </div>
    </div>
</section>