<!-- Intro Section -->
<section id="introhome" class="section-primary">
    <div class="container">
        <div class="bannertext">
            <h1> A path to artificial general intelligence</h1>
            <p class="subtitle"> Built with counseling, blockchain and deep learning.</p>
            <a type="button" class="btn btn-primary page-scroll" href="/static/whitepaper_en.pdf">Read White Paper</a>
            <img src="./img/banner-home.svg" type="image/svg+xml" alt="banner" class="banner"></div>
    </div>
</section>

<section class="section-white">
    <div class="container">
        <div class="row">
            <h2><strong>Meet iSegoria. The Artificial Intelligence.</strong> <br>
               <small> Built out of 3 main modules.</small>  </h2>
            <div class="col-md-4">
                <img src="img/objective.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big"><strong>Objective module </strong> <br>
                    A <a class="link" href="/network">counseling network</a> that would learn
                    what people value and pick an objective for system to achieve.</p>
            </div>
            <div class="col-md-4">
                <img src="img/agent.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big"><strong> Agent module </strong> <br>
                    Software that would generate actions that are going to act on the world:
                    prediction, planning, reasoning.</p>
            </div>
            <div class="col-md-4">
                <img src="img/perception.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big"><strong>Perception module </strong> <br>
                    The system's senses would estimate the state of the world using
                    raw data and deep learning.
                   </p>
            </div>

        </div>

    </div>

</section>

<section class="section-secondary">
    <div class="container">
        <div class="row">
            <h2><strong>Why does iSegoria exist?</strong> <br>
                <small> To solve the problems people need help with.</small></h2>
            <div class="col-md-4">
                <p class="big"><strong>Hunger </strong> </p>
                <a class="thumbnail" href="#">
                    <img src="img/globalhunger.png" alt="hunger" class="blogimg img-responsive" />
                </a>
                <br>
                <p class="big"> It could evenly distribute the food we are producing.</p>
            </div>
            <div class="col-md-4">
                <p class="big"><strong> Climate change </strong> <br> </p>
                <a href="#" class="thumbnail">
                    <img src="img/climate-change.jpg" alt="climate" class="blogimg img-responsive" />
                </a>
                <br>
                <p class="big">  It could invent new sources of clean, renewable energy.</p>
            </div>
            <div class="col-md-4">
                <p class="big"><strong>Poverty </strong> <br> </p>
                <a href="#" class="thumbnail">
                    <img src="img/poverty.png"  alt="poverty" class="blogimg img-responsive" />
                </a>
                <br>
                <p class="big">
                    It could create abundance for everyone's benefit.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section-primary">
    <div class="container">
        <div class="row">
            <h2><strong>How to build an artificial general intelligence?</strong> </h2> <br />
            <a type="button" class="btn btn-primary page-scroll" href="/static/whitepaper_en.pdf">Read White Paper</a>
        </div>
    </div>
</section>
