<section id="blog" class="section-secondary">
    <div class="container">
        <h2>Blog</h2>
        <div class="row">

            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a">
                    <img height="300px" width="300px" class="img-fixed-height img-responsive" src="./img/draper-university.jpg" type="image/svg+xml" alt="draper university">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">
                <p class="big">
                    Fall 2016 Draper University Alumni.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a" target="_blank">Read more</a></label>
                </p>

            </div>

            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://blog.isegoria.com/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">
                    <img width="370" height="270" class="blogimg img-responsive" src="./img/ycombinator.png" type="image/svg+xml" alt="ycombinator alumni">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">
                <p class="big">
                    Funded by Innovation Norway.
                </p>
                <p class="text-center">
                    <label for="post-1"><a class="btn btn-primary" target="_blank" href="https://blog.isegoria.com/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">Read more</a></label>
                </p>
            </div>

            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://blog.isegoria.com/the-network-4bf7ec2b0cb2">
                    <img class="blogimg img-responsive" src="./img/network.jpg" type="image/svg+xml" alt="blockchain network">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">
                <p class="big">
                    A Counseling Network.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://blog.isegoria.com/the-network-4bf7ec2b0cb2" target="_blank">Read more</a></label>
                </p>

            </div>

        </div>
    </div>
</section>