<section id="blog" class="section-secondary">
    <div class="container">
        <h2>Blog</h2>
        <div class="row">

            <div class="col-md-4">
                <a target="_blank" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a">
                    <img width="350px" height="265px" src="./img/draper.jpg" type="image/svg+xml" alt="draper university">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">

                <p class="big">
                    <br>
                    Fall 2016 Draper University Alumni.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a" target="_blank">Read more</a></label>
                </p>

            </div>

            <div class="col-md-4">
                <a target="_blank" href="https://medium.com/narrafy/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">
                    <img width="350px" height="265px" src="./img/ycombinator.png" type="image/svg+xml" alt="ycombinator alumni">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">

                <p class="big">
                    <br/>
                    Funded by Innovation Norway.
                </p>
                <p class="text-center">
                    <label for="post-1"><a class="btn btn-primary" target="_blank" href="https://medium.com/narrafy/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">Read more</a></label>
                </p>
            </div>

            <div class="col-md-4">
                <a target="_blank" href="https://medium.com/narrafy/chatbots-for-counseling-cca771da5489">
                    <img width="350px" height="265px" src="./img/chatbots.svg" type="image/svg+xml" alt="blockchain network">
                </a>
                <input type="checkbox" class="read-more-state" id="post-1">

                <p class="big">
                    <br/>
                    Chatbots for Counseling.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://medium.com/narrafy/chatbots-for-counseling-cca771da5489" target="_blank">Read more</a></label>
                </p>
            </div>
        </div>
    </div>
</section>