<section id="blog" class="section-white">
    <div class="container">
        <h3 class="text-center">Blog</h3>
        <div class="row">

            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://blog.isegoria.com/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">
                    <img width="360" height="270" class="blogimg img-responsive" src="img/ycombinator.png" type="image/svg+xml" alt="ycombinator alumni" />
                </a>
                  <input type="checkbox" class="read-more-state" id="post-1" />
                <p class="read-more-wrap">
                    We got funded by Innovation Norway and graduated from Y Combinator Online Startup School.
                </p>
                <p class="text-center">
                    <label for="post-1"><a class="btn btn-primary" target="_blank" href="https://blog.isegoria.com/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">Read more</a></label>
                </p>
            </div>

            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a">
                    <img width="360" height="270" class="blogimg img-responsive" src="img/draper.jpg" type="image/svg+xml" alt="draper university" />
                </a>
                <input type="checkbox" class="read-more-state" id="post-1" />
                <p class="read-more-wrap">
                    Ion Dronic attended Draper University’s Fall 2016 Hero Training Program after leaving his job as a Developer.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a" target="_blank">Read more</a></label>
                </p>

            </div>
            <div class="col-md-4">
                <a target="_blank" class="thumbnail" href="https://blog.isegoria.com/the-network-4bf7ec2b0cb2">
                    <img width="360" height="270" class="blogimg img-responsive" src="img/network.jpg" type="image/svg+xml" alt="blockchain network" />
                </a>
                <input type="checkbox" class="read-more-state" id="post-1" />
                <p class="read-more-wrap">
                    Narrative counseling practice is seen as rather social then psychological process.
                </p>
                <p class="text-center">
                    <label for="post-1"> <a class="btn btn-primary" href="https://blog.isegoria.com/the-network-4bf7ec2b0cb2" target="_blank">Read more</a></label>
                </p>

            </div>

        </div>
    </div>
</section>