<section>
    <div class="container">
        <h2 class="text-center title">Blog</h2>
        <div class="row">

            <div class=" col-md-4">
                <img src="img/draper.jpg" alt="..." class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="img/ycombinator.png" alt="..." class="img-thumbnail">
            </div>
            <div class="col-md-4">
                <img src="img/chatbots.svg" alt="..." class="img-thumbnail">
            </div>
        </div>
    </div>
</section>