<header>
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar2">
                <span class="navbar-toggler-icon my-toggler"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="img/logo.svg" alt="logo" class="logo hidemobile">
            </a>

            <div class="collapse navbar-collapse" id="collapsingNavbar2">
                <ul class="navbar-nav mr-auto ">

                </ul>
                <ul class="navbar-nav my-2 my-lg-0 social">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://arxiv.org/abs/1712.03080">Research</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/stats">Stats</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/narrafy"><i class="fa fa-medium" aria-hidden="true"></i></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/narrafy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/narrafy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>