<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="page-scroll" href="/#page-top"><img src="img/logo.svg" class="logo"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse ">
        <ul class="nav navbar-nav navbar-right">
            <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
            <li>
                <a class="page-scroll" href="#page-top">Home</a>
            </li>

            <li>
                <a class="page-scroll" href="/timeline">Timeline</a>
            </li>

            <li>
                <a class="page-scroll" href="/token">Token</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Documentation <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">

                    <li><a class="page-scroll" href="/counseling">Counseling</a></li>
                    <li><a href="/network"> Network</a></li>
                    <li><a href="/ai"> AGI</a></li>
                    <li><a href="/static/whitepaper_en.pdf">Whitepaper</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Foundation
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/about">About</a></li>
                    <li><a href="/press">Press</a></li>
                    <li><a href="/partners">Partners</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/fundraiser">Fundraiser</a></li>
                    <li>
                        <a class="page-scroll" href="/contact">Contact</a>
                    </li>
                </ul>
            </li>

            <div class="social-network social-circle">
                <li><a href="https://blog.isegoria.com" class="faMedium" title="Medium"><i class="fa fa-medium"></i></a></li>
                <li><a href="https://www.reddit.com/r/isegoria/" class="icoReddit" title="Reddit"><i class="fa fa-reddit"></i></a></li>
                <li><a href="https://github.com/isegoria" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                <li><a href="https://twitter.com/isegoria_com" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/isegoriacom" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            </div>
        </ul>

    </div>
    <!-- /.navbar-collapse -->

</nav>