
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#hero">
                <svg width="225px" height="72px" viewBox="0 0 275 72" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <linearGradient x1="3.46409119%" y1="42.2079243%" x2="100%" y2="39.5733525%" id="linearGradient-1">
                            <stop stop-color="#4990E2" offset="0%"></stop>
                            <stop stop-color="#9D77EA" offset="48.769785%"></stop>
                            <stop stop-color="#EF32D9" offset="100%"></stop>
                        </linearGradient>
                        <linearGradient x1="3.27215669%" y1="49.7500002%" x2="96.8110538%" y2="49.7500002%" id="linearGradient-2">
                            <stop stop-color="#6884E2" offset="0%"></stop>
                            <stop stop-color="#C251CF" offset="100%"></stop>
                        </linearGradient>
                        <rect id="path-3" x="0.818474043" y="5.75508909" width="29.3736264" height="9.14057497" rx="4.57028748"></rect>
                        <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-4">
                            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                            <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>
                            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                        </filter>
                        <mask id="mask-5" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="29.3736264" height="9.14057497" fill="white">
                            <use xlink:href="#path-3"></use>
                        </mask>
                    </defs>
                    <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Logo">
                            <g transform="translate(10.000000, 6.000000)" id="Logo-White-Patch">
                                <g transform="translate(0.409357, 0.000000)">
                                    <path d="M28.2068309,6.13953297 C26.8718312,4.42473228 25.3535571,3.05887258 23.6511232,2.03932078 C21.505052,0.755842215 19.376717,0.0789391348 17.266118,0.00861154197 C15.1555191,-0.0617160508 13.0449202,0.298712862 10.9343213,1.08989828 C8.82372237,1.8810837 6.97029727,3.00632518 5.37404599,4.46562273 C3.7777947,5.92492028 2.48483116,7.69190105 1.48983453,9.76656504 C0.49661151,11.841229 0,14.0038025 0,16.2542855 C0,18.2586219 0.592386587,20.3244949 1.7824806,22.4519046 C2.970801,24.5793143 4.6397704,26.7682606 6.78584157,29.0187436 C8.93013912,31.2692265 11.173759,33.5109186 13.5149275,35.7438196 C15.8560961,37.9767207 18.5094204,40.6579602 21.4713534,43.787538 C24.4332863,46.9188741 27.0121189,49.9763662 29.2131721,52.9652889 C31.410678,49.9763662 34.0001523,46.9188741 36.9798214,43.787538 C39.9594905,40.6579602 42.6199093,37.9767207 44.9610778,35.7438196 C47.3022464,33.5109186 49.5458662,31.2692265 51.6919374,29.0187436 C53.8397822,26.7682606 55.5052044,24.5793143 56.6935248,22.4519046 C57.8818452,20.3244949 58.477779,18.2586219 58.477779,16.2542855 C58.477779,14.0038025 57.9989036,11.841229 57.0393792,9.76656504 C56.0816284,7.69190105 54.8223635,5.92492028 53.2615845,4.46562273 C51.7025791,3.00632518 49.8828526,1.8810837 47.8077259,1.08989828 C45.7325993,0.298712862 43.6308684,-0.0617160508 41.504307,0.00861154197 C39.3759719,0.0789391348 37.2192591,0.747051266 35.0377157,2.01294794 C32.8687628,3.27256271 30.933365,5.10663602 29.2385116,7.51516785 L27.9453614,15.8085814 L31.460567,21.9417336 L28.4661356,30.3965403 L32.1683235,32.3185757 L27.7433251,48.7904348 L31.5348774,32.5620973 L27.8493088,30.5600017 L30.0388749,21.9417336 L26.3150005,16.0443734 L28.2068309,6.13953297 Z" id="Combined-Shape" fill="url(#linearGradient-1)"></path>
                                    <g id="Patch" transform="translate(13.714286, 12.000000)">
                                        <g id="Rectangle-4" transform="translate(15.505287, 10.325377) rotate(-24.000000) translate(-15.505287, -10.325377) ">
                                            <use fill="black" fill-opacity="1" filter="url(#filter-4)" xlink:href="#path-3"></use>
                                            <use stroke="#FFFFFF" mask="url(#mask-5)" stroke-width="2" fill="url(#linearGradient-2)" fill-rule="evenodd" xlink:href="#path-3"></use>
                                        </g>
                                        <g id="Group-2" transform="translate(11.144929, 7.114285)" fill="#FFFFFF">
                                            <ellipse id="Oval-2" cx="1.23711722" cy="3.0881349" rx="0.652747253" ry="0.652898212"></ellipse>
                                            <ellipse id="Oval-2" cx="7.06961643" cy="3.34948267" rx="0.652747253" ry="0.652898212"></ellipse>
                                            <ellipse id="Oval-2" cx="6.00763152" cy="0.963673887" rx="0.652747253" ry="0.652898212"></ellipse>
                                            <ellipse id="Oval-2" cx="4.68435928" cy="4.41171318" rx="0.652747253" ry="0.652898212"></ellipse>
                                            <ellipse id="Oval-2" cx="3.62237437" cy="2.0259044" rx="0.652747253" ry="0.652898212"></ellipse>
                                            <ellipse id="Oval-2" cx="2.29910213" cy="5.47394369" rx="0.652747253" ry="0.652898212"></ellipse>
                                        </g>
                                    </g>
                                </g>
                            </g><!--OpenSans-Semibold, Open Sans-->
                            <g id="Dronic" transform="translate(80.000000, 10.000000)" fill="#222222">
                                <text font-family="Helvetica" font-size="36" font-weight="bolder" letter-spacing="1.0">
                                    <tspan x="0.0338541269" y="34">dronic.io</tspan>
                                </text>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#hero">Download <span class="sr-only">(current)</span></a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>