<div class="container">
    <header class="page-header">
        <h1>iSegoria Timeline</h1>
        <h3 class="text-center"> how we started, what was done so far and where we are going. </h3>
    </header>

    <ul class="timeline">
        <li><div class="tldate">2015</div></li>

        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Narrative Counseling Training Level One</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>november</small></p>
                </div>
                <div class="tl-body">
                    <p>A teeth accident made founder Ion Dronic join a training organized
                        by <a href="www.psiterra.ro">Psiterra</a>, romanian narrative counseling association.</p>
                    <p><img src="/img/november-2015.png" alt="lorem pixel"></p>
                </div>
            </div>
        </li>
        <li><div class="tldate">2016</div></li>
        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Draper University of Heroes</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> september</small></p>
                </div>
                <div class="tl-body">
                    <p> Ion Dronic attends a 2-months intensive
                    entrepreneurship training in Silicon Valley, California USA.</p>

                    <p><img src="/img/draper-university.jpg" alt="lorem pixel"></p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2017</div></li>

        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>iSegoria funded by Innovation Norway</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> june</small></p>
                </div>
                <div class="tl-body">
                    <p> Norwegian government fund offers
                        a grant for the market research phase of a p2p counseling network.
                    </p>
                    <p><img src="/img/innovation-norway-seed.jpg" alt="innovation norway"></p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Network Token Crowdsale</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> october</small></p>
                </div>
                <div class="tl-body">
                    <p>A token sale event to fund the development of iSegoria counseling network.</p>
                </div>
            </div>
        </li>


        <li><div class="tldate">2018</div></li>
        <li>
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Counseling Bootcamp Year.</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> january - december</small></p>
                </div>
                <div class="tl-body">
                    <p>iSegoria runs counseling trainings with
                    fundraiser backers. Hiring the development team from the people that went
                        through training. Development of the counseling bootcamp software. </p>
                </div>
            </div>
        </li>
        <li><div class="tldate">2019</div></li>
        <li><div class="tldate">2020</div></li>
        <li><div class="tldate">2021</div></li>
        <li><div class="tldate">2022</div></li>
        <li><div class="tldate">2023</div></li>
        <li><div class="tldate">2024</div></li>
        <li><div class="tldate">2025</div></li>
        <li><div class="tldate">2026</div></li>
        <li><div class="tldate">2027</div></li>
        <li><div class="tldate">2028</div></li>
        <li><div class="tldate">2029</div></li>
        <li><div class="tldate">...</div></li>

    </ul>
</div>