<div class="container">
    <header class="page-header">
        <h1>iSegoria Timeline</h1>
        <h3 class="text-center"> how we started, what was done so far and where we are going. </h3>
    </header>
    <ul class="timeline">

        <li><div class="tldate">2015</div></li>
        <li id="counseling-training-psiterra">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Narrative Counseling Training Level One</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>November</small></p>
                </div>
                <div class="tl-body">
                    <p>A teeth accident made founder Ion Dronic join a counseling training organized
                        by <a href="www.psiterra.ro">Psiterra</a>.

                    </p>
                    <p>
                       <a href="https://blog.isegoria.com/a-software-engineer-among-counselors-19d4576e65c5"> <img src="/img/november-2015.png" alt="psiterra" /> </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="https://blog.isegoria.com/a-software-engineer-among-counselors-19d4576e65c5">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2016</div></li>
        <li id="draper-university-of-heroes" class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Draper University of Heroes</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> September</small></p>
                </div>
                <div class="tl-body">
                    <p> Ion Dronic attends a 2-months <a href="http://www.draperuniversity.com/"> intensive
                            entrepreneurship training </a> in Silicon Valley, California USA.
                    </p>

                    <p>
                        <a href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a">
                            <img src="/img/draper-university.jpg" alt="draper university" />
                        </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="https://medium.com/@draper_u/alumni-spotlight-ion-dronic-ac363406d67a">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2017</div></li>
        <li id="innovation-norway-funded">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>iSegoria funded by Innovation Norway</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June</small></p>
                </div>
                <div class="tl-body">
                    <p> Norwegian government fund offers
                        a grant for the market research phase of a p2p counseling network.
                    </p>
                    <p>
                       <a href="">
                           <img src="/img/innovation-norway-seed.jpg" alt="innovation norway" />
                       </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>
        <li id="token-crowdsale" class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Token Crowd sale</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> October</small></p>
                </div>
                <div class="tl-body">
                    <p>The network launches a token crowd sale event to fund its research and development.
                    </p>
                    <p>
                        <a href=""> <img src="/img/crowd.jpg" alt="token crowdsale" />
                        </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2018 - 2019</div></li>
        <li id="bootcamp-year">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Counseling Bootcamp</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> January - December</small></p>
                </div>
                <div class="tl-body">
                    <p>iSegoria and its <a href="/partners">partners</a> will run counseling trainings with
                        the people that participated in the fundraiser. The network would select its development and
                        research team from people that went through training.
                    </p>
                    <p>
                        <a href=""> <img src="/img/bootcamp.jpg" alt="bootcamp" />
                        </a>
                    </p>

                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2020</div></li>
        <li id="network-launch" class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Network Launch</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> January</small></p>
                </div>
                <div class="tl-body">
                    <p> iSegoria launches the blockchain counseling network.
                        People that went through the counseling boot camp will assume counseling roles
                    on the network. Our <a href="/partners"> partners </a>  will supervise the process.
                    </p>
                    <p>
                        <a href=""> <img src="/img/network.jpg" alt="network launch" />
                        </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2021</div></li>
        <li id="network-exchange" class="timeline">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Cryptocurrency Exchange</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Q1</small></p>
                </div>
                <div class="tl-body">
                    <p> iSegoria launches its own currency exchange service. It would allow
                        to buy, sell and trade <a href="/token">NAR</a> - the network token.
                    </p>

                    <p>
                        <a href=""> <img src="/img/cryptocurrency-exchange.jpg" alt="network exchange" />
                        </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">2023</div></li>
        <li id="ai-phase-I" class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Artificial Intelligence Phase I</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> January</small></p>
                </div>
                <div class="tl-body">
                    <p>
                        Decentralized network architecture and certain narrative counseling practices would be the
                        prerequisites for developing the objective module of an artificial
                        general intelligence system.
                    </p>
                    <p>
                        <a href=""> <img src="/img/objective-module.png" alt="objective module" />
                        </a>
                    </p>
                    <p class="text-right">
                        <a type="button" class="btn" href="/ai#objective-module">Read more</a>
                    </p>

                </div>
            </div>
        </li>

        <li><div class="tldate">2025</div></li>
        <li id="ai-phase-II" class="timeline">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Artificial Intelligence Phase II</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Q1</small></p>
                </div>
                <div class="tl-body">
                    <p>The <a href="">social construction of reality</a> and network data would help
                        building a world simulator - the missing link of a truly intelligent system.
                    </p>
                    <p>
                        <a href=""> <img src="/img/world-simulator.png" alt="world simulator" />
                        </a>
                    </p>

                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

        <li><div class="tldate">...</div></li>
        <li id="human-machine-symbiosis" class="timeline-inverted">
            <div class="tl-circ"></div>
            <div class="timeline-panel">
                <div class="tl-heading">
                    <h4>Human-Machine Symbiosis</h4>
                    <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Q1</small></p>
                </div>
                <div class="tl-body">
                    <p>
                        The artificial general intelligence system is developed.
                        The counseling process makes sure it values what we value.
                        The network would make sure we have a way to influence its decisions.
                        The problems that current society is dealing with: poverty, hunger,
                        corruption, climate change -- go away. Humanity enters an era
                        that transcends convenience.
                    </p>

                    <p>
                        <a href=""> <img src="/img/human-machine.jpg" alt="human machine" />
                        </a>
                    </p>

                    <p class="text-right">
                        <a type="button" class="btn" href="/">Read more</a>
                    </p>
                </div>
            </div>
        </li>

    </ul>
</div>