<section id="signup" class="section-primary">
    <div class="container">
        <h2>Sign up for news and updates</h2>
        <div id="mc_embed_signup">
                <div id="mc_embed_signup_scroll">
                    <div class="row" id="subscribe-form">
                        <div class="col-md-6">
                            <div class="mc-field-group">
                                <input id="subscribe-box" onkeydown="ContactInput.subscribeKeyDown(event, this)" type="email"  placeholder="Your Email" name="EMAIL" class="inputline" >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <input type="submit" onclick="ContactInput.subscribeSubmit('subscribe-box')" value="Subscribe"
                                   name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary" />
                        </div>
                    </div>
                    <div class="row">
                        <div id="subscribe-notification" class="hide">
                            <p class="leave-email">
                                we will contact you when there is something important.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>

