<div id="subscribe-form">
            <div class="row">
                <div class="email">
                    <div class="col-md-5">
                            <input id="subscribe-box" type="email" name="email" placeholder="Your email address">
                        </div>
                    <div class="col-md-4">
                            <button type="submit" onclick="ContactInput.subscribeKeyDown(event, this)" >Stay updated</button>
                        </div>
                    <div class="col-md-3">
                        <a href="https://m.me/narrafy" target="_blank" class="google-play"><img src="img/fbmessenger.png" alt=""></a>
                    </div>
                </div>
            </div>
</div>
<div class="row">
    <div id="subscribe-notification" class="hide">
        <p class="leave-email-white">
            we will contact you when there is something important.
        </p>
    </div>
</div>