<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="title">Sign up for news and updates</h2>
                <div class="form-inline col-md-6 offset-md-3 text-center" role="form">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               id="subscribe-box"
                               onkeydown="ContactInput.subscribeKeyDown(event, this)"
                               type="email"  placeholder="Your Email" name="EMAIL">
                    </div>
                    <button href="" type="submit"
                            class="btn btn-secondary btn-signup"
                            onclick="ContactInput.subscribeSubmit('subscribe-box')" >
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="subscribe-notification" class="hide">
                <p class="leave-email">
                    we will contact you when there is something important.
                </p>
            </div>
        </div>
    </div>
</section>


