<section id="team" class="section-white">
    <div class="container">
        <h2 class="text-center"> Team </h2>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-3 member-image">
                <img src="img/ceo.jpg" alt="icon" class="team img-responsive" />
            </div>
            <div class="col-md-6  member-text">
                <h4>Ion Dronic</h4>
                <p><strong>CEO and Founder </strong> <br/> Engineer with 6+ years experience in software development. Researcher
                    presenting <a href="https://arxiv.org/abs/1712.03080" title="path-to-ai" >A path to AI</a> at
                    <a href="https://www.ieee.org/conferences_events/conferences/conferencedetails/index.html?Conf_ID=42793" title="SAI"> IntelliSys Conference </a> London, September 2018.
                </p>
                <a href="https://www.linkedin.com/in/ion-dronic-94446337/" class="fa fa-linkedin" target="_blank" title="Linkedin"></a>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-3 member-image">
                <img src="img/ovidiu.jpg" alt="icon" class="team img-responsive" />
            </div>
            <div class="col-md-6  member-text">
                <h4>Ovidiu Gavrilovici, phd</h4>
                <p><strong>Co-Founder </strong> <br/> Narrative approach promoter and practitioner - academic, therapist, consultant.
                </p>
                <a href="https://www.linkedin.com/in/ovidiugavrilovici/" class="fa fa-linkedin" target="_blank" title="Linkedin"></a>
            </div>
        </div>

        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-3 member-image">
                <img src="img/aliona.jpg" alt="icon" class="team img-responsive" />
            </div>
            <div class="col-md-6  member-text">
                <h4>Aliona Dronic</h4>
                <p><strong>Product Manager</strong> <br/> Couple counselor with a master's degree in psychology.
                </p>
                <a href="https://www.linkedin.com/in/aliona-dronic-0410bb120/" class="fa fa-linkedin" target="_blank" title="Linkedin"></a>
            </div>
        </div>
    </div>
    <div class="secondary">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-2 col-md-offset-2 member-image">
                    <img src="img/robot.png" alt="icon" class="team img-responsive" />
                </div>
                <div class="col-md-8 member-text">
                    <h4>Narrafy Bot</h4>
                    <p><strong>Chief Customer Support </strong> <br/> A baby robot, awake when everybody else is sleeping.</p>
                    <a href="https://m.me/narrafy" target="_blank" class="fa fa-facebook" title="Facebook"></a>
                </div>
            </div>
        </div>
    </div>
</section>