<section id="benefits" class="section-white">
    <div class="container">
        <h2>Token Sale</h2>
        <div class="col-md-6">
           <button> Manage Tokens </button>
        </div>
        <div class="col-md-6">
            <button> Check NAR Balance </button>
        </div>
    </div>
</section>