<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block">
                    <h1 class="text-center"> Defence of the White paper <br />
                    </h1>
                    <div class="download">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2v8E_kddsS4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>