<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
    <link href="css/user.css" rel="stylesheet">
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<% include ../partials/navbar %>

<% include ./partials/user-story %>

<% include ../partials/footer %>

<% include ../partials/bot-script.ejs %>

<% include ../partials/script %>
</body>
</html>
