<html>
<head>
    <% include ./partials/head %>
    <link href="/css/app.css" rel="stylesheet">
</head>
<body id="page-top" data-gr-c-s-loaded="true">
<% include ./partials/navbar %>

<section id="chatbox">
    <div class="container">
        <ul class="payloads">
            <% for(var i=0; i<payloads.length; i++) {%>
            <li class="quote">
                <span> <%if (payloads[i].payload.input && payloads[i].payload.input.text) { %>
                    <%= payloads[i].payload.input.text %>
                    <% } %> </span>
            </li>
            <% } %>
        </ul>
    </div>
</section>
</body>
</html>