<html>
<head>
    <% include ./partials/head %>
    <link rel="stylesheet" href="/css/dronic.css">
</head>
<body id="page-top" data-gr-c-s-loaded="true">
<% include ./partials/navbar %>
<section id="chat">
    <% include ./partials/chatbox %>
</section>
</body>
</html>