<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

    <header>
        <% include ./partials/navbar %>
    </header>

    <% include ./partials/hero %>

   <!-- <%include ./partials/chatbox %>-->

    <% include ./partials/features %>

    <% include ./partials/contact %>

    <% include ./partials/footer %>

    <a class="back-to-top" href="#hero">
        <i class="glyphicon glyphicon-menu-up"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>

    <script src="js/common.js"></script>
    <script src="js/api.js"></script>
    <script src="js/conversation.js"></script>
    <script src="js/payload.js"></script>
    <script src="js/global.js"></script>
    <script src="js/contact.js"></script>

</body>
</html>
