<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/head %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <header>
        <% include ./partials/navbar %>
    </header>

    <% include ./partials/hero %>

    <% include ./partials/token %>

    <% include ./partials/benefits %>

    <% include ./partials/subscribe %>

    <%include ./partials/chatbox %>

    <% include ./partials/blog %>

    <% include ./partials/testimonials %>

    <% include ./partials/footer %>

    <a class="back-to-top" href="#intro">
        <i class="glyphicon glyphicon-menu-up"></i>
    </a>

    <% include ./partials/script %>

</body>
</html>
