<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/head %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <% include ./partials/navbar %>

    <% include ./partials/hero %>

    <section id="bot" class="section-secondary">
        <div class="container">
            <h2 class="text-center"> Try the chatbot</h2>
            <% include ./partials/chatbox %>
        </div>
    </section>

    <!-- include testimonials and media here -->

    <% include ./partials/subscribe %>

    <% include ./partials/footer %>

    <% include ./partials/script %>

</body>
</html>
