<!DOCTYPE html>

<html lang="en">
<head>
    <% include ./partials/head %>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<header>
    <% include ./partials/navbar %>
</header>

<section id="introhome" class="section-primary">
    <div class="container">
        <div class="bannertext">
            <h1>A narrative counseling network</h1>
            <p class="subtitle">People listen each other. We suggest questions worth answering.</p>
            <a type="button" class="btn btn-primary page-scroll" target="_self" href="https://blog.isegoria.com/the-network-4bf7ec2b0cb2">Read more</a>
            <img src="./img/banner-network.svg" type="image/svg+xml" alt="banner" class="banner"></div>
    </div>
</section>

<section id="how-to-use" class="section-white">
    <div class="container">
        <h2>How to use the network?</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="round hollow">
                    1</div>
                <p class="big">Download the user app from the store.</p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    2</div>
                <p class="big"> Any - The chatbot will interview you.</p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    3</div>
                <p class="big"> Broadcast your problem to the network.</p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    4</div>
                <p class="big">An algorithm will match you with a counselor.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="round hollow">
                    5</div>
                <p class="big">Your counselor listens. Any suggests questions.
                </p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    6</div>
                <p class="big">An algorithm picks a professional to give feedback on the session. </p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    7</div>
                <p class="big">Your session is verified, the transcript is added to the blockhain. </p>
            </div>
            <div class="col-md-3">
                <div class="round hollow">
                    8</div>
                <p class="big">You reward your counselor. The network will reward the professional.</p>
            </div>
        </div>
    </div>
</section>

<section id="how-to-use-network" class="section-secondary">
    <div class="container">
        <div class="row">
            <h2>Who can use the network?</h2>
            <div class="col-md-4">
                <img src="img/user.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big">Any person that seeks help can run such a node.</p>
            </div>
            <div class="col-md-4">
                <img src="img/counselor.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big">A person that went through a counseling bootcamp can run such a node.</p>
            </div>
            <div class="col-md-4">
                <img src="img/scaffolder.svg" type="image/svg+xml" alt="icon" class="featureicon">
                <p class="big"> A professional counselor with years of experience in counseling can run such a node. </p>
            </div>
        </div>

    </div>

</section>

<% include ./partials/benefits %>

<% include ./partials/chatbox %>

<% include ./partials/subscribe %>

<% include ./partials/footer %>

<% include ./partials/script %>

</body>
</html>
