@media (min-width: 992px) {
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#7A5B6B' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.slider {
    padding: 180px 0 300px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.slider:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 290px solid #fff;
    border-left: 2000px solid transparent;
    width: 0;
}

.bg-pr {
    background: #7A5B6B;
}

.slider .block .image-content img {
    margin-top: 100px;
    margin-bottom: -200px;
}

h3,
.h3 {
    font-size: 2rem;
    font-weight: 200;
}

h1,
.h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2,
.h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #7A5B6B;
    margin-bottom: 1rem;
}

.title {
    margin-top: 80px;
}

.btn-secondary {
    border-radius: 0px;
    background-color: #EF6263;
    color: #fff;
    border: none;
}

.btn-secondary:hover {
    border-radius: 0px;
    background-color: #7A5B6B;
    color: #fff;
    border: none;
}

.btn-default {
    background-color: #EF6263;
    color: #fff;
    border-radius: 1rem;
}

.btn-default:hover {
    color: #fff;
}

.slider h1,
.slider h3 {
    color: #fff;
    margin-bottom: 1.5rem;
}

.featurelist li {
    margin: 10px 0;
}

.quick-reply {
    margin-top: 20px;
}

.segments {
    margin-bottom: 40px;
}

.featureimg {
    background-color: #7A5B6B;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    padding: 5px;
    display: inline;
    text-align: center;
    margin-right: 5px;
}

.message-inner p:before {
    content: ".";
    border-left: 4px solid #7A5B6B;
}

.form-control {
    display: block;
    width: 100%;
    padding: .45rem .75rem;
    border-radius: 0px;
}

input#signup-form {
    width: 100%;
}

.form-group {
    width: 80%;
    margin-bottom: 0px;
}

.social li {
    list-style: none;
    display: inline-block;
    color: #fff;
}

ul.social {
    text-align: center;
}

.social a {
    color: #fff;
}

footer p {
    color: #fff;
    margin-top: 8px;
}

@media (max-width: 992px) {
    footer p {
        text-align: center;
        padding-left: 35px;
    }
}

#subscribe {
    margin-bottom: 80px;
}

footer .row {
    padding-top: 30px;
}

footer {
    background-color: #7A5B6B;
}

footer p {
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    line-height: 18px;
}

footer a {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

footer a:hover {
    color: #EF6263;
}

ul.social {
    color: #fff;
    font-size: 14px;
    margin-top: 0;
    padding: 0 0.1em;
    line-height: 18px;
}

footer i.fa {
    font-size: 18px;
    line-height: 18px;
}

/*-----------*/

.quote {
    color: rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 30px;
}

#testimonials blockquote {
    text-align: center;
    border: none;
}

#testimonials {
    background-color: #f7f7f7;
    padding: 80px 0px;
    margin-top: 80px;
}

.carousel-indicators li {
    background-color: #7A5B6B;
}

ol.carousel-indicators {
    bottom: -20px;
}

button:hover {
    cursor: pointer;
}
