<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
    <script src="js/Chart.js" ></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<header>
    <% include ../partials/navbar %>
</header>

<section id="token-stats" class="section-white">
    <div class="container">
            <h1>Token Crowd Sale</h1>
            <p class="big"> The crowd sale starts 1'st of october and will last until 15'th of october or hidden cap is reached. </p>
            <div class="row">
                <div class="col-md-3">
                    <div class="stats-value">
                        <span>100 MLN</span>
                    </div>
                    <div class="stats-label">
                    <span> NAR Fundraiser
                    <br />
                        token allocation
                    </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-value">
                        <span> ETH </span>
                    </div>
                    <div class="stats-label">
                        <a type="button" class="btn btn-primary page-scroll">Copy Address</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-value">
                        <span> XBT </span>
                    </div>
                    <div class="stats-label">
                         <a type="button" class="btn btn-primary page-scroll">Copy Address</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="stats-value">
                        <span>20 BLN</span>
                    </div>
                    <div class="stats-label">
                    <span> Total NAR SUPPLY
                    <br />
                    </span>
                    </div>
                </div>

            </div>
        <a type="button" class="btn btn-primary page-scroll" href="">Read Full Post</a>
    </div>
</section>

<section id="token-sale-details" class="section-primary">
    <div class="container">
        <h1> Token Benefits </h1>
        <p class="big"> What are you investing in? </p>
        <div class="row">
            <div class="col-md-3 col-md-offset-5">
                <a href="#" class="thumbnail"> <img width="150px" height="100px" src="/img/nar.png" /> </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <p class="big">Healthy Productive Life</p>
                <p> Professional counseling services. </p>
            </div>
            <div class="col-md-3">
                <p class="big"> Education </p>
                <p> Access to a 3-level counseling boot camp.
                </p>
            </div>
            <div class="col-md-3">
                <p class="big"> Artificial General Intelligence </p>
                <p> A stake in the greatest invention of humanity. </p>
            </div>
        </div>

    </div>
</section>

<section id="token-allocation-details" class="section-white">

    <div class="container">
        <h1>
            Token Creation Details
        </h1>


        <div class="row">
            <hr />
            <div class="col-md-4 col-md-offset-1">
                <h3> Use of Proceeds </h3>
                <div class="col-md-6">
                    <canvas id="useOfProceedsChart" width="200" height="200"></canvas>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
                <h3> Token Allocation </h3>
                <canvas id="tokenAllocation" width="200" height="200"></canvas>
            </div>
        </div>
    </div>
</section>

<section id="token-faq" class="section-primary">
    <div class="container">
        <h1> Token FAQ </h1>
        <div class="row">
            <div class="item active">
                <h2 class="title">1 - What are NAR tokens and what are they used for?</h2>
                <div class="content">
                    <p> At the inception of the network in q1 of 2019 the tokens would pay for counseling services. Before that,
                    tokens can be used to participate in the counseling boot camps we'll start running in January 2018.</p>
                    <div class="image">
                        <img src="" />
                    </div>
                </div>
            </div>
            <div class="item">
                <h2 class="title">2 - When do I receive my tokens?</h2>
                <div class="content">
                    <p>You will receive your tokens no later than one week after the conclusion of the sale.</p>
                </div>
            </div>
            <div class="item">
                <h2 class="title">3 - What is the token supply breakdown? </h2>
                <div class="content">
                    <p>100 Million tokens will be created for the sale, the rest of the supply will be ensure by network's consensus algorithm.
                        A portion of these tokens will be sold in the sale, and a portion will be retained by iSegoria.
                        <a href="#token-allocation-details"> See breakdown </a>
                    </p>
                </div>
            </div>
            <div class="item">
                <h2 class="title">4 - What is the funding breakdown? </h2>
                <div class="content">
                    <p>The largest portions of funding will be used for software development - 45%.
                        Counseling boot camps would consume another 25% of
                        Additionally, operational, marketing, business development and legal purposes would consume the rest of the funds</p>
                </div>
            </div>
            <div class="item">
                <h2 class="title">5 - How do I purchase tokens?</h2>
                <div class="content">
                    <p> Please use our token purchase wizard, which is located at the  above this FAQ.
                        In general, tokens are purchased by sending ETH to the token sale address.
                        You will receive your tokens no later than one week after the conclusion of the sale.</p>
                </div>
            </div>
        </div>
    </div>

</section>

<% include ../partials/subscribe %>

<% include ../partials/footer %>

<% include ../partials/script %>

<script type="text/javascript">
    function getChartOptions(labels, percents){
        return {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    label: '# %',
                    data: percents,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                legend:{
                    position: 'bottom'
                }
            }
        }
    }

    var ctx = document.getElementById("useOfProceedsChart");
    var ctx2 = document.getElementById("tokenAllocation");
    var labels1  = ["Software Development - 45%", "Counseling Boot camps - 25%", "Marketing - 12%",
        "Operational - 8%", "Legal - 5%", "Miscellaneous - 5%"];
    var data1 = [45, 25, 12, 8, 5, 5];
    var labels2 = ["Fundraiser - 50%", "Grants 20%", "Long term Budget 20%", "Team 10%"];
    var data2 = [50,20,20,10];

    var myChart = new Chart(ctx, getChartOptions(labels1,data1));
    var myChart2 = new Chart(ctx2, getChartOptions(labels2, data2));

</script>

</body>
</html>
