
<section id="contact" class="section-secondary">
    <div class="container">
        <h2 class="text-center"> Your Story </h2>

        <div class="row row-eq-height">
            <div class="col-md-2 ">
                <img src="img/contact.jpg" alt="icon" class="team img-responsive">
            </div>
            <div class="col-md-10">

                <div id="send-story-form">

                    <p>
                        <%= internalization%>
                    </p>

                    <p> Or, </p>

                    <p>
                        <%= externalization%>
                    </p>

                    <p> P.S. We don't have an app yet. But, we have big dreams! Follow us on Social Media. We will announce major updates there.
                        We love Medium btw.
                    </p>

                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/narrafy"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/narrafy"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://medium.com/narrafy"><i class="fa fa-medium" aria-hidden="true"></i></a>
                    </li>

                </div>
            </div>
        </div>
    </div>
</section>