<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<% include about-us.ejs %>

<section id="team" class="section-white">
    <div class="container">
        <h2><strong> Narrafy Foundation </strong></h2>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-2 member-image">
                <img src="img/ion-dronic.jpg" width="150px" height="150px" alt="icon" class="team img-responsive" />

            </div>
            <div class="col-md-8 member-text">
                <h4>Ion Dronic</h4>
                <p><strong>Ceo </strong> <br/>
                    Draper University alumni and a software engineer with 6+ years in developing .NET solutions.
                    Recently shifted his interest towards narrative counseling, artificial intelligence and
                    blockchain technology.
                </p>
                <ul class="social-network social-circle">
                    <li><a href="https://www.linkedin.com/in/ion-dronic-94446337/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>

                </ul>
            </div>
        </div>

    </div>
    <div class="secondary">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-2 col-md-offset-2 member-image">
                    <img src="img/aliona-dronic.jpg" width="150px" height="150px" alt="icon" class="team img-responsive" />

                </div>
                <div class="col-md-8 member-text">
                    <h4>Aliona Dronic</h4>
                    <p><strong>Foundation Council</strong> <br/>
                        Aliona is a couple counselor working at <a href="www.psiterra.ro"> Psiterra. </a>  </p>
                    <ul class="social-network social-circle">
                        <li><a href="https://blog.isegoria.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="partners" class="section-white">
    <div class="container">
        <h2><strong> Partners </strong></h2>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-2 member-image">
                <img src="img/partners/psiterra.png" width="150px" height="150px" alt="icon" class="team img-responsive">

            </div>
            <div class="col-md-8 member-text">
                <h4>Psiterra</h4>
                <p><strong>Romanian Narrative Therapy Association</strong> <br/>
                    Romanian narrative therapy association, specialized in running narrative counseling trainings
                    and offering psychological services.
                </p>
                <ul class="social-network social-circle">
                    <li><a href="www.psiterra.ro" target="_blank" class="fa-link" title="Linkedin"><i class="fa-link"></i></a></li>

                </ul>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-2 member-image">
                <img src="img/partners/innovation-norway.jpg" width="150px" height="150px" alt="icon" class="team img-responsive">

            </div>
            <div class="col-md-8 member-text">
                <h4>Innovation Norway</h4>
                <p><strong> Government Fund </strong> <br/>
                    It is the Norwegian Government’s most important instrument for innovation and development of Norwegian enterprises and industry.
                </p>
                <ul class="social-network social-circle">
                    <li><a href="www.psiterra.ro" target="_blank" class="fa-link" title="Linkedin"><i class="fa-link"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</section>

<% include ../partials/contact-box %>

<% include ../partials/footer %>

<% include ../partials/script %>

</body>
</html>
