<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<section class="section slider bg-pr">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block">
                    <h1>About Us</h1>
                    <h3> We are building a path to artificial general intelligence. <br>
                        Mental health is our first stop. </h3>
                    <div class="download">
                        <a href="/whitepaper" class="btn btn-default">
                            Read more
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/features %>

<section id="team" class="section-white">
    <div class="container">
        <h2 class="text-center"> Team </h2>
        <div class="row row-eq-height">
            <div class="col-md-2 col-md-offset-3 member-image">
                <img src="img/headshot.jpg" alt="icon" class="team img-responsive" />

            </div>
            <div class="col-md-6  member-text">
                <h4>Ion Dronic</h4>
                <p><strong>CEO and Founder </strong> <br/> Draper University alumni and a software engineer with 6+ years in developing .NET solutions.
                    Recently shifted his interest towards counseling and artificial intelligence.
                </p>

                <a href="https://www.linkedin.com/in/ion-dronic-94446337/" class="fa fa-linkedin" target="_blank" title="Linkedin"></a>

            </div>
        </div>

    </div>
    <div class="secondary">
        <div class="container">
            <div class="row row-eq-height">
                <div class="col-md-2 col-md-offset-2 member-image">
                    <img src="img/robot.png" alt="icon" class="team img-responsive" />

                </div>
                <div class="col-md-8 member-text">
                    <h4>Narrafy Bot</h4>
                    <p><strong>Chief Customer Support </strong> <br/> A baby robot, awake when everybody else is sleeping.</p>
                    <a href="https://www.linkedin.com/in/alicia-partee-76722017" target="_blank" class="fa fa-linkedin" title="Linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="partners" class="section-white">
    <div class="container">
        <h2 class="text-center"> Partners </h2>
        <div class="row row-eq-height">
            <div class="col-md-4 col-md-offset-2 member-image">
                <img src="img/innovation-norway.jpg" width="250px" height="100px" alt="icon" class="team img-responsive">

            </div>
            <div class="col-md-8 member-text">
                <h4>Innovation Norway</h4>
                <p><strong> Government Fund </strong> <br/> It is the Norwegian Government’s most important instrument for innovation and development of Norwegian enterprises and industry.
                </p>

                <a href="http://www.innovasjonnorge.no/" target="_blank" class="fa fa-link" title="Linkedin"></a>

            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-md-4 member-image">
                <img src="img/psiterra.png" width="250px" height="150px" alt="icon" class="img-responsive">

            </div>
            <div class="col-md-8 member-text">
                <h4>Psiterra</h4>
                <p><strong>Romanian Narrative Therapy Association</strong> <br/> Romanian narrative therapy association, specialized in running counseling trainings
                    and offering psychological services.
                </p>

                <a href="http://www.psiterra.ro" target="_blank" class="fa fa-link" title="Linkedin"></a>

            </div>
        </div>
    </div>
</section>

<% include ../partials/media %>

<!-- include testimonials and media here -->

<% include ../partials/testimonials %>

<% include ../partials/contact-box %>

<% include ../partials/footer %>

<% include ../partials/script %>

<% include ../partials/bot-script %>


</body>
</html>
