<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<% include ../partials/footer %>

<a class="back-to-top" href="#hero">
    <i class="glyphicon glyphicon-menu-up"></i>
</a>

<% include ../partials/script %>

</body>
</html>
