<!-- Intro Section -->
<section id="introabout" class="section-primary">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>About Us</h1>
                <p class="big">We are a norwegian startup aiming to solve mental health with artificial general intelligence.</p>
                <a type="button" class="btn btn-primary page-scroll" href="/static/whitepaper_en.pdf">Read more</a></div>
            <div class="col-md-6"> <img src="./img/banner-about.svg" type="image/svg+xml" alt="banner" class=""></div>
        </div>
    </div>
</section>