<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>


<section id="partners" class="section-white">
    <div class="container">
        <h2><strong> Partners </strong></h2>
        <div class="row row-eq-height">
            <div class="col-md-2 member-image">
                <img src="img/partners/placeholder.png" width="150px" height="150px" alt="icon" class="team img-responsive">

            </div>
            <div class="col-md-8 member-text">
                <h4>Fullstack Developer</h4>
                <p><strong></strong> <br/>

                </p>

            </div>
        </div>
    </div>
</section>

<% include ../partials/contact-box %>

<% include ../partials/footer %>

<% include ../partials/script %>

</body>
</html>
