<!DOCTYPE html>

<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<section class="section slider bg-pr">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="block">
                    <!-- Heading -->
                    <h1>About Us</h1>
                    <!-- Sub-heading -->
                    <h3> We are building a path to artificial general intelligence. <br>
                        Mental health is our first stop. </h3>
                    <div class="download">
                        <a href="/whitepaper" class="btn btn-default">
                            Read more
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

    <header>
        <% include ../partials/navbar %>
    </header>

    <% include ../partials/contact-box %>

    <% include ../partials/footer %>

    <% include ../partials/script %>
</body>
</html>
