<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body id="page-top" data-gr-c-s-loaded="true">

<header>
    <% include ../partials/navbar %>
</header>

<section id="partners">
    <div class="container">
        <div class="page-header">
            <h3>Partners Counseling Associations</h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="img-responsive partner-image" src="/img/partnerships/psiterra.png">
            </div>
            <div class="partner-info col-12 col-lg-8">
                <div class="partner-name">
                    Psiterra
                </div>
                <div class="partner-description">
                    Psiterra is a romanian narrative therapy association, specialized in running narrative counseling trainings Level One and Two.
                </div>
            </div>
        </div>

        <div class="page-header">
            <h3> Non Profit Organizations </h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="img-responsive partner-image" src="/img/partnerships/placeholder.png">
            </div>
            <div class="partner-info col-12 col-lg-8">
                <div class="partner-name">
                    Mental helse
                </div>
                <div class="partner-description">

                </div>
            </div>
        </div>

        <div class="page-header">
            <h3> Blockchain devs </h3>
        </div>

        <div class="row">
            <div class="col-12 col-lg-4">
                <img class="img-responsive partner-image" src="/img/partnerships/placeholder.png">
            </div>
            <div class="partner-info col-12 col-lg-8">
                <div class="partner-name">
                    Aragon
                </div>
                <div class="partner-description">

                </div>
            </div>
        </div>

    </div>
</section>

<% include ../partials/footer %>

<% include ../partials/script %>

</body>
</html>
