<section>
    <div class="container">
        <h2 class="text-center title">Blog</h2>
        <div class="row">

            <div class="col-md-4">
                <p class="text-center"> Funded by Innovation Norway </p>
                <a href="https://medium.com/narrafy/ycombinator-online-school-alumni-funded-by-innovation-norway-d4cf3d814fbb">
                    <img src="img/ycombinator.png" alt="..." class="img-thumbnail" />
                </a>
            </div>
            <div class="col-md-4">
                <p class="text-center"> Chatbots for counseling </p>
                <a href="https://medium.com/narrafy/chatbots-for-counseling-cca771da5489">
                    <img src="img/chatbots.svg" alt="..." class="img-thumbnail" />
                </a>

            </div>
            <div class=" col-md-4">
                <p class="text-center"> The roller coaster </p>
                <a href="https://medium.com/narrafy/narrafy-the-rollercoaster-1f75914711a7" alt="rollercoaster">
                    <img src="img/roller-coaster.png" alt="..." class="img-thumbnail" />
                </a>

            </div>

        </div>
    </div>
</section>