<section id="testimonials">
    <div class="container">
        <div class="quote"><img src="img/logo.svg"></div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">

                    <div class="profile-circle"></div>
                    <blockquote>
                        <p class="text-center">"Narrafy develops and expands narrative approaches using information technology. Augumented... conversations follow from this!"</p>
                        <p class="user text-center"><strong>Michael </strong> - counselor and therapist</p>
                    </blockquote>

                </div>

                <div class="carousel-item">
                    <div class="profile-circle"></div>
                    <blockquote>
                        <p class="text-center">"Thank you very much Narrafy, you have been very helpful.
                            I really enjoyed the story of myself"</p>
                        <p class="user text-center"><strong>Rose </strong> - therapist</p>
                    </blockquote>

                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>